In [1]:
import numpy as np
import pandas as pd

In [2]:
actual = pd.Series([0,0,1,1,1,0,1,1,1], name="Actual")
actual

0    0
1    0
2    1
3    1
4    1
5    0
6    1
7    1
8    1
Name: Actual, dtype: int64

In [3]:
predicted = pd.Series([1,0,1,1,1,0,1,1,1], name="Predicted")
predicted

0    1
1    0
2    1
3    1
4    1
5    0
6    1
7    1
8    1
Name: Predicted, dtype: int64

In [17]:
df_confusion=pd.crosstab(actual,predicted,rownames=["Actual"],colnames=["predicted"],margins=True)
df_confusion

predicted  0  1  All
Actual
0          2  1    3
1          0  6    6
All        2  7    9

In [26]:
df_conf_norm=df_confusion/df_confusion.sum(axis=1)
df_conf_norm

predicted         0         1       All
Actual
0          0.333333  0.083333  0.166667
1          0.000000  0.500000  0.333333
All        0.333333  0.583333  0.500000

In [13]:
TP=0
TN=0
FP=0
FN=0
for i in range(len(predicted)): 
    if actual[i]==predicted[i]==1:
            TP+=1
    if actual[i] and predicted[i]==0:
            TN+=1
    if predicted[i]==1 and actual[i]!=predicted[i]:
            FP+=1
    if predicted[i]==0 and actual[i]!=predicted[i]:
            FN+=1
print("True Positive:",TP)
print("True Negative:",TN)
print("False Positive:",FP)
print("False Nehative:",FN)

True Positive: 6
True Negative: 0
False Positive: 1
False Nehative: 0

In [14]:
Accuracy=(TP+TN)/(TP+FN+FP+TN)
Accuracy

0.8571428571428571

In [15]:
recall=TP/(TP+FN)
recall

1.0

In [16]:
precision=TP/(TP+FN)
precision

1.0

In [10]:
f1_score=(recall*precision*2)/(recall+precision)
f1_score

1.0